version: 2.1

jobs:
  build:
    docker:
      - image: cimg/go:1.25
    
    steps:
      - checkout
      
      - run:
          name: Configure Cloudsmith Go Registry
          command: |
            echo "export GOPROXY=https://token:${CLOUDSMITH_TOKEN}@golang.cloudsmith.io/${CLOUDSMITH_ORG}/${CLOUDSMITH_REPO}/" >> "$BASH_ENV"
            echo "export GONOSUMDB=cloudsmith.io" >> "$BASH_ENV"

      - run:
          name: Download Go modules
          command: go mod download
      
      - run:
          name: Build
          command: go build

workflows:
  build-workflow:
    jobs:
      - build
