version: 2.1

workflows:
  main:
    jobs:
      - go-plain
      - go-cloudsmith

jobs:
  go-plain:
    executor: go
    parallelism: 5
    steps:
      - setup-go

  go-cloudsmith:
    executor: go
    parallelism: 5
    steps:
      - run:
          name: configure cloudsmith
          command: echo "export GOPROXY='https://token:$CLOUDSMITH_SMOLTOKEN@golang.cloudsmith.io/$CLOUDSMITH_ORG/$CLOUDSMITH_SMOLGOREPO/,direct'" >> "$BASH_ENV"
      - setup-go

executors:
  go:
    docker:
      - image: cimg/go:1.25
    working_directory: ./
    resource_class: large

commands:
  setup-go:
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: go mod download -x -json
